<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
var send = function() {
    var map = {};
    map.map_name = $("#map_name").val();
    map.routes = $("#routes").val();
    console.log(JSON.stringify(map));

    // jQuery.post('http://localhost:5000/walmart/api/v1.0/maps', {
    //     data: JSON.stringify(map),
    //     success: function(data) {
    //         console.log(data);
    //     },
    //     async: false,
    //     contentType : 'application/json'});


    $.ajax({type: 'POST',
        //the url where you want to sent the userName and password to
        url: 'http://localhost:5000/walmart/api/v1.0/maps',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        //json object to sent to the authentication url
        data: JSON.stringify(map),
        success: function (data) {
            console.log(data);
        }
    });
}
</script>

<div>
    <form id="formzao" action="#">
        <input type="text" id="map_name" name="map_name"/>
        <textarea id="routes" name="routes"></textarea>
        <input type="button" value="Vai" onclick="send()"/>
    </form>
</div>